html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background-color: #e3e3e3;
  color: #111111;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

h1 {
  margin: 0.75rem 0;
  line-height: 1.4;
}

h2 {
  margin: 0.75rem 0;
  line-height: 1.4;
}

h3 {
  margin: 0.75rem 0;
  line-height: 1.4;
}

h4 {
  margin: 0.75rem 0;
  line-height: 1.4;
}

h5 {
  margin: 0.75rem 0;
  line-height: 1.4;
}

h6 {
  margin: 0.75rem 0;
  line-height: 1.4;
}

p,
blockquote {
  margin: 0.75rem 0;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0.0625rem;
}

@media screen and (max-width: 58.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 59em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 2;
  box-shadow: 0 0.625rem 1.25rem rgba(17, 17, 17, 0.4);
  background-color: #f2f2f2;
  padding: 1.25rem 0;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__home {
  display: flex;
  align-items: center;
  color: #111111;
  font-size: 1.125rem;
  font-weight: 700;
}
.header__home:focus-visible {
  outline: 0.125rem dashed #111111;
  outline-offset: 0.3125rem;
}
@media screen and (min-width: 31.25em) {
  .header__home {
    font-size: 1.5rem;
  }
}

.header__logo {
  height: 1.875rem;
  width: 1.875rem;
}
@media screen and (min-width: 31.25em) {
  .header__logo {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 1.125rem;
}
@media screen and (min-width: 31.25em) {
  .header__item:not(:last-child) {
    margin-right: 1.875rem;
  }
}

.header__link {
  color: #111111;
  font-size: 0.875rem;
}
.header__link:focus-visible {
  outline: 0.125rem dashed #111111;
  outline-offset: 0.3125rem;
}
.header__link:hover, .header__link:active, .header__link:focus {
  font-weight: 700;
}
@media screen and (min-width: 31.25em) {
  .header__link {
    font-size: 1rem;
  }
}

.header__link--current {
  font-weight: 700;
}

.hero {
  background: url("../images/hero-bg-mobile.jpg") no-repeat center center/cover;
  background-color: #333333;
  background-blend-mode: overlay;
  padding: 7.5rem 0rem;
  color: #f2f2f2;
}

.hero__text {
  max-width: 31.25rem;
}

.hero__title {
  font-size: 2.25rem;
}
@media screen and (min-width: 31.25em) {
  .hero__title {
    font-size: 3.125rem;
  }
}

.hero__btn {
  display: inline-block;
  margin-top: 0.625rem;
  border: 0.125rem solid #f2f2f2;
  border-radius: 1em;
  padding: 0.875rem;
  color: #f2f2f2;
}
.hero__btn:focus-visible {
  outline: 0.125rem dashed #111111;
  outline-offset: 0.3125rem;
}
.hero__btn:hover, .hero__btn:active, .hero__btn:focus {
  background-color: #f2f2f2;
  color: #111111;
}

.framework {
  padding-top: 8.4375rem;
  padding-bottom: 4.21875rem;
}

.framework__text {
  max-width: 25rem;
}
@media screen and (min-width: 59em) {
  .framework__text {
    max-width: 100%;
  }
}

.framework__title {
  border-left: 0.1875rem solid black;
  padding-left: 1rem;
  font-size: 1.875rem;
}

.framework__description--strong {
  font-size: 1.875rem;
}

.framework__list {
  display: grid;
  margin-top: 3.75rem;
  gap: 2.5rem;
}
@supports not (gap: 2.5rem) {
  .framework__list {
    grid-gap: 2.5rem;
  }
}
@media screen and (min-width: 59em) {
  .framework__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.framework__sub-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.team-home {
  padding: 4.21875rem 0;
}

@media screen and (min-width: 59em) {
  .team-home .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
  }
  @supports not (gap: 2.5rem) {
    .team-home .container {
      grid-gap: 2.5rem;
    }
  }
}

.team-home__text {
  max-width: 31.25rem;
}
@media screen and (min-width: 59em) {
  .team-home__text {
    max-width: 100%;
  }
}

.team-home__title {
  border-left: 0.1875rem solid black;
  padding-left: 1rem;
  font-size: 1.875rem;
}

.team-home__description {
  margin-top: 1.25rem;
}

.team-home__btn {
  display: inline-block;
  margin-top: 0.625rem;
  border: 0.125rem solid #111111;
  border-radius: 1em;
  padding: 0.875rem;
  color: #111111;
}
.team-home__btn:focus-visible {
  outline: 0.125rem dashed #111111;
  outline-offset: 0.3125rem;
}
.team-home__btn:hover, .team-home__btn:active, .team-home__btn:focus {
  background-color: #111111;
  color: #f2f2f2;
}

.testimonial {
  padding: 4.21875rem 0;
}

.testimonial__title {
  border-left: 0.1875rem solid black;
  padding-left: 1rem;
  max-width: 25rem;
  font-size: 1.875rem;
}

.testimonial__list {
  display: grid;
  gap: 3.75rem;
  margin-top: 3.75rem;
}
@supports not (gap: 60) {
  .testimonial__list {
    grid-gap: 60;
  }
}

.testimonial__item {
  margin: 0 auto;
  border-radius: 0.5em;
  box-shadow: 0.5rem 0.5rem 1.25rem rgba(17, 17, 17, 0.15);
  background-color: #f2f2f2;
  padding: 1.5rem;
  max-width: 31.25rem;
}

.testimonial__stars {
  display: flex;
  justify-content: center;
}

.testimonial__star:not(:last-child) {
  margin-right: 0.625rem;
}

.testimonial__quote {
  margin: 1.25rem 0;
}

.testimonial__figcaption {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.testimonial__photo {
  margin-right: 0.875rem;
  border-radius: 50%;
  height: 3.125rem;
  width: 3.125rem;
}

.testimonial__name,
.testimonial__job {
  margin: 0;
  text-transform: capitalize;
}

.testimonial__name {
  font-weight: 700;
}

.testimonial__job {
  font-size: 0.875rem;
}

.contact-home {
  padding-top: 4.21875rem;
  padding-bottom: 5.625rem;
}

@media screen and (min-width: 59em) {
  .contact-home .container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
  @supports not (gap: 2.5rem) {
    .contact-home .container {
      grid-gap: 2.5rem;
    }
  }
}

.contact-home__text {
  max-width: 31.25rem;
}

.contact-home__title {
  border-left: 0.1875rem solid black;
  padding-left: 1rem;
  font-size: 1.875rem;
}

.contact-home__description {
  margin-top: 1.25rem;
}

.contact-home__btn {
  display: inline-block;
  margin-top: 0.625rem;
  border: 0.125rem solid #111111;
  border-radius: 1em;
  padding: 0.875rem;
  color: #111111;
}
.contact-home__btn:focus-visible {
  outline: 0.125rem dashed #111111;
  outline-offset: 0.3125rem;
}
.contact-home__btn:hover, .contact-home__btn:active, .contact-home__btn:focus {
  background-color: #111111;
  color: #f2f2f2;
}

.footer {
  background-color: #222222;
  padding: 4.21875rem 0;
  color: #f2f2f2;
}

.footer__home {
  display: flex;
  align-items: center;
  height: auto;
  width: 11.25rem;
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: 700;
}
.footer__home:focus-visible {
  border: 0.125rem dashed #f2f2f2;
}

.footer__copyright {
  margin-top: 1.25rem;
}

.footer__navigation {
  margin: 3.75rem 0;
}

.footer-nav__link {
  color: #f2f2f2;
}
.footer-nav__link:focus-visible {
  outline: 0.125rem dashed #f2f2f2;
  outline-offset: 0.3125rem;
}
.footer-nav__link:hover, .footer-nav__link:active, .footer-nav__link:focus {
  text-decoration: underline;
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.footer__attribution {
  text-align: center;
}

.footer__vanza {
  color: #f2f2f2;
  font-weight: 700;
}
.footer__vanza:focus-visible {
  border: 0.125rem dashed #f2f2f2;
}
.footer__vanza:hover, .footer__vanza:active, .footer__vanza:focus {
  text-decoration: underline;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}

.footer__item:not(:last-child) {
  margin-right: 0.75rem;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.125rem dotted transparent;
  padding: 0.25rem;
  height: 3.125rem;
  width: 3.125rem;
}
.footer__link:focus-visible {
  border-color: #f2f2f2;
}
.footer__link:hover, .footer__link:active, .footer__link:focus {
  border-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 73.125rem;
}
@media screen and (min-width: 40em) {
  .container {
    padding: 0 2rem;
  }
}
