html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background-color: #e3e3e3;
  color: #111111;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

h1 {
  margin: 0.75rem 0;
  line-height: 1.4;
}

h2 {
  margin: 0.75rem 0;
  line-height: 1.4;
}

h3 {
  margin: 0.75rem 0;
  line-height: 1.4;
}

h4 {
  margin: 0.75rem 0;
  line-height: 1.4;
}

h5 {
  margin: 0.75rem 0;
  line-height: 1.4;
}

h6 {
  margin: 0.75rem 0;
  line-height: 1.4;
}

p,
blockquote {
  margin: 0.75rem 0;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0.0625rem;
}

@media screen and (max-width: 58.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 59em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 2;
  box-shadow: 0 0.625rem 1.25rem rgba(17, 17, 17, 0.4);
  background-color: #f2f2f2;
  padding: 1.25rem 0;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__home {
  display: flex;
  align-items: center;
  color: #111111;
  font-size: 1.125rem;
  font-weight: 700;
}
.header__home:focus-visible {
  outline: 0.125rem dashed #00befb;
  outline-offset: 0.3125rem;
}
@media screen and (min-width: 31.25em) {
  .header__home {
    font-size: 1.5rem;
  }
}

.header__logo {
  height: 1.875rem;
  width: 1.875rem;
}
@media screen and (min-width: 31.25em) {
  .header__logo {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 1.125rem;
}
@media screen and (min-width: 31.25em) {
  .header__item:not(:last-child) {
    margin-right: 1.875rem;
  }
}

.header__link {
  color: #111111;
  font-size: 0.875rem;
}
.header__link:focus-visible {
  outline: 0.125rem dashed #00befb;
  outline-offset: 0.3125rem;
}
.header__link:hover, .header__link:active, .header__link:focus {
  font-weight: 700;
}
@media screen and (min-width: 31.25em) {
  .header__link {
    font-size: 1rem;
  }
}

.header__link--current {
  font-weight: 700;
}

.hero {
  background: url("../images/hero-bg-mobile.jpg") no-repeat center center/cover;
  background-color: #333333;
  background-blend-mode: overlay;
  padding: 7.5rem 0rem;
  color: #f2f2f2;
}
@media screen and (min-width: 73.624em) {
  .hero {
    background-image: url("../images/hero-bg.jpg");
  }
}

.hero__text {
  max-width: 31.25rem;
}

.hero__title {
  font-size: 2.25rem;
}
@media screen and (min-width: 31.25em) {
  .hero__title {
    font-size: 3.125rem;
  }
}

.framework {
  padding-top: 8.4375rem;
  padding-bottom: 4.21875rem;
}
@media screen and (min-width: 73.624em) {
  .framework {
    padding-bottom: 5.46875rem;
  }
}

.framework__text {
  max-width: 25rem;
}
@media screen and (min-width: 59em) {
  .framework__text {
    max-width: 100%;
  }
}

.framework__title {
  border-left: 0.1875rem solid black;
  padding-left: 1rem;
  font-size: 1.875rem;
}

.framework__description--strong {
  font-size: 1.875rem;
}

.framework__list {
  display: grid;
  margin-top: 3.75rem;
  gap: 2.5rem;
}
@supports not (gap: 2.5rem) {
  .framework__list {
    grid-gap: 2.5rem;
  }
}
@media screen and (min-width: 59em) {
  .framework__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.framework__sub-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.sub-section--team {
  padding: 4.21875rem 0;
}
@media screen and (min-width: 73.624em) {
  .sub-section--team {
    padding: 5.46875rem 0;
  }
}

.sub-section--contact {
  padding-top: 4.21875rem;
  padding-bottom: 8.4375rem;
}
@media screen and (min-width: 73.624em) {
  .sub-section--contact {
    padding-top: 5.46875rem;
  }
}

@media screen and (min-width: 59em) {
  .sub-section .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
  }
  @supports not (gap: 2.5rem) {
    .sub-section .container {
      grid-gap: 2.5rem;
    }
  }
}

.sub-section__text {
  max-width: 31.25rem;
}
@media screen and (min-width: 59em) {
  .sub-section__text {
    max-width: 100%;
  }
}

.sub-section__title {
  border-left: 0.1875rem solid #111111;
  padding-left: 1rem;
  font-size: 1.875rem;
}

.sub-section__description {
  margin-top: 1.25rem;
}

.testimonial {
  padding: 4.21875rem 0;
}
@media screen and (min-width: 73.624em) {
  .testimonial {
    padding: 5.46875rem 0;
  }
}

.testimonial__title {
  border-left: 0.1875rem solid #111111;
  padding-left: 1rem;
  max-width: 25rem;
  font-size: 1.875rem;
}

.testimonial__list {
  display: grid;
  gap: 3.75rem;
  margin-top: 3.75rem;
}
@supports not (gap: 60) {
  .testimonial__list {
    grid-gap: 60;
  }
}
@media screen and (min-width: 73.624em) {
  .testimonial__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
  @supports not (gap: 2.5rem) {
    .testimonial__list {
      grid-gap: 2.5rem;
    }
  }
}

.testimonial__item {
  margin: 0 auto;
  border-radius: 0.5em;
  box-shadow: 0.5rem 0.5rem 1.25rem rgba(17, 17, 17, 0.15);
  background-color: #f2f2f2;
  padding: 1.5rem;
  max-width: 31.25rem;
}
@media screen and (min-width: 73.624em) {
  .testimonial__item {
    max-width: 100%;
  }
}

.testimonial__stars {
  display: flex;
  justify-content: center;
}

.testimonial__star:not(:last-child) {
  margin-right: 0.625rem;
}

.testimonial__quote {
  margin: 1.25rem 0;
}

.testimonial__figcaption {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.testimonial__photo {
  margin-right: 0.875rem;
  border-radius: 50%;
  height: 3.125rem;
  width: 3.125rem;
}

.testimonial__name,
.testimonial__job {
  margin: 0;
  text-transform: capitalize;
}

.testimonial__name {
  font-weight: 700;
}

.testimonial__job {
  font-size: 0.875rem;
}

.footer {
  background-color: #222222;
  padding: 4.21875rem 0;
  color: #f2f2f2;
}

@media screen and (min-width: 73.624em) {
  .footer .container {
    display: grid;
    align-items: start;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: 2.5rem;
  }
  @supports not (gap: 2.5rem) {
    .footer .container {
      grid-gap: 2.5rem;
    }
  }
}

.footer__home {
  display: flex;
  align-items: center;
  height: auto;
  width: 11.25rem;
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: 700;
}
.footer__home:focus-visible {
  outline: 0.125rem dashed #00befb;
  outline-offset: 0.3125rem;
}

.footer__copyright {
  margin-top: 1.25rem;
}

.footer__navigation {
  margin: 3.75rem 0;
}
@media screen and (min-width: 73.624em) {
  .footer__navigation {
    margin: 0;
  }
}

.footer__link {
  color: #f2f2f2;
}
.footer__link:focus-visible {
  outline: 0.125rem dashed #00befb;
  outline-offset: 0.3125rem;
}
.footer__link:hover, .footer__link:active, .footer__link:focus {
  text-decoration: underline;
}

.footer__item:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.footer__attribution {
  text-align: center;
}

.footer__description {
  margin-top: 0;
}

.footer__github {
  color: #f2f2f2;
  font-weight: 700;
}
.footer__github:focus-visible {
  outline: 0.125rem dashed #00befb;
  outline-offset: 0.3125rem;
}
.footer__github:hover, .footer__github:active, .footer__github:focus {
  text-decoration: underline;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}

.social__item:not(:last-child) {
  margin-right: 0.75rem;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.125rem dotted transparent;
  padding: 0.25rem;
  height: 3.125rem;
  width: 3.125rem;
}
.social__link:focus-visible {
  outline: 0.125rem dashed #00befb;
  outline-offset: 0.3125rem;
}
.social__link:hover, .social__link:active, .social__link:focus {
  border-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 73.125rem;
}
@media screen and (min-width: 40em) {
  .container {
    padding: 0 2rem;
  }
}

.btn {
  display: inline-block;
  margin-top: 0.625rem;
  border: 0.125rem solid;
  border-radius: 1em;
  background-color: transparent;
  cursor: pointer;
  padding: 0.875rem;
}
.btn:focus-visible {
  outline: 0.125rem dashed #00befb;
  outline-offset: 0.3125rem;
}

.btn--hero {
  border-color: #f2f2f2;
  color: #f2f2f2;
}
.btn--hero:hover, .btn--hero:active, .btn--hero:focus {
  background-color: #f2f2f2;
  color: #111111;
}

.btn--sub-section {
  border-color: #111111;
  color: #111111;
}
.btn--sub-section:hover, .btn--sub-section:active, .btn--sub-section:focus {
  background-color: #111111;
  color: #f2f2f2;
}

.btn--submit {
  display: block;
  border-color: #111111;
  width: 100%;
}
.btn--submit:hover, .btn--submit:active, .btn--submit:focus {
  background-color: #111111;
  color: #f2f2f2;
}

.intro {
  padding: 4.21875rem 0;
  color: #f2f2f2;
}

.intro--team {
  background: url("../images/team.jpg") no-repeat center center/cover;
  background-color: #333333;
  background-blend-mode: overlay;
}

.intro--contact,
.intro--terms {
  background: url("../images/contact.jpg") no-repeat center center/cover;
  background-color: #333333;
  background-blend-mode: overlay;
}

.intro__title {
  text-transform: capitalize;
  font-size: 2.25rem;
}

.team {
  padding: 4.21875rem 0;
}

.team__title {
  margin-bottom: 1.25rem;
  border-left: 0.1875rem solid #111111;
  padding-left: 1rem;
  text-transform: capitalize;
  font-size: 1.875rem;
}

.team__list {
  display: grid;
  gap: 3.75rem;
  margin-top: 3.75rem;
}
@supports not (gap: 3.75rem) {
  .team__list {
    grid-gap: 3.75rem;
  }
}

.team__person {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  box-shadow: 0.5rem 0.5rem 1.25rem rgba(17, 17, 17, 0.15);
  background-color: #f2f2f2;
  padding: 2.25rem 1.5rem;
  text-align: center;
}

.team__photo {
  height: 9.375rem;
  width: 9.375rem;
  border-radius: 2em;
}

.team__job {
  font-size: 0.875rem;
}

.team__name {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
}

.team__description--small {
  font-size: 0.875rem;
}

.team__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.125rem;
}

.team__item:first-child .team__icon {
  margin-right: 0.3125rem;
}

.team__link:focus-visible {
  outline: 0.125rem dashed #00befb;
  outline-offset: 0.3125rem;
}

.team__icon {
  margin-right: 0.875rem;
}

.contact {
  padding: 4.21875rem 0;
}

.contact__title {
  margin-bottom: 1.25rem;
  border-left: 0.1875rem solid #111111;
  padding-left: 1rem;
  text-transform: capitalize;
  font-size: 1.875rem;
}

.contact__link {
  color: #111111;
  font-weight: 700;
}
.contact__link:focus-visible {
  outline: 0.125rem dashed #00befb;
  outline-offset: 0.3125rem;
}

.contact__container {
  margin-top: 3.75rem;
}

.contact__legend {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
}

.contact__control {
  display: block;
  width: 100%;
  margin-bottom: 1.25rem;
}

.contact__control--term-and-service {
  display: inline;
  width: auto;
}

.contact__wrapper {
  margin: 1.25rem 0;
}

.contact__input {
  display: block;
  margin-top: 0.625rem;
  border: none;
  border-bottom: 0.125rem solid #111111;
  background-color: transparent;
  padding: 0.3125rem;
  width: 100%;
  font-size: 1rem;
}
.contact__input:focus-visible {
  outline: 0.125rem solid #111111;
  border-color: transparent;
}

.contact__input--textarea {
  resize: none;
}

.contact__input--checkbox {
  display: inline;
  width: auto;
}

.contact__info {
  margin-top: 3.75rem;
  border-radius: 1em;
  box-shadow: 0.5rem 0.5rem 1.25rem rgba(17, 17, 17, 0.15);
  background-color: #f2f2f2;
  padding: 2.25rem;
  text-align: center;
}

.contact__info > *:not(:first-child) {
  margin-top: 5rem;
}

.call__title,
.location__title,
.services__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
}

.call__list,
.location__description,
.services__list {
  margin-top: 1.5rem;
}

.call__item:not(:first-child) {
  margin-top: 0.875rem;
}

.call__link {
  color: #111111;
}
.call__link:focus-visible {
  outline: 0.125rem dashed #00befb;
  outline-offset: 0.3125rem;
}
.call__link:hover, .call__link:active, .call__link:focus {
  font-weight: 700;
}

.services__item:not(:first-child) {
  margin-top: 0.875rem;
}

.location__description {
  line-height: 1.6;
}

.terms {
  padding: 4.21875rem 0;
}

.terms__title {
  margin-bottom: 1.25rem;
  border-left: 0.1875rem solid #111111;
  padding-left: 1rem;
  text-transform: capitalize;
  font-size: 1.875rem;
}
