@use "../abstracts" as *;

.contact {
  padding: rem(67.5) 0;
}

.contact__container {
  margin: 0 auto;
  max-width: rem(500);
  
  @include breakpoint-up("medium") {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 50% 40%;
    margin: 0;
    max-width: 100%;
  }
}

.contact__title {
  margin-bottom: rem(20);
  border-left: rem(3) solid $black;
  padding-left: rem(16);
  text-transform: capitalize;
  font-size: rem(30);
}

.contact__link {
  color: $black;
  font-weight: 700;
  
  @include focus-visible;
}

.contact__container {
  margin-top: rem(60);
}

.contact__legend {
  text-align: center;
  text-transform: capitalize;
  font-size: rem(24);
  font-weight: 700;
}

.contact__control {
  display: block;
  width: 100%;
  margin-bottom: rem(20);
}

.contact__control--term-and-service {
  display: inline;
  width: auto;
}

.contact__wrapper {
  margin: rem(20) 0;
}

.contact__input {
  display: block;
  margin-top: rem(10);
  border: none;
  border-bottom: rem(2) solid $black;
  background-color: transparent;
  padding: rem(5);
  width: 100%;
  font-size: rem(16);
  
  &:focus-visible {
    outline: rem(2) solid $black;
    border-color: transparent;
  }
}

.contact__input--textarea {
  resize: none;
}

.contact__input--checkbox {
  display: inline;
  width: auto;
}

.contact__info {
  margin-top: rem(60);
  border-radius: 1em;
  box-shadow: 
    rem(8) rem(8) rem(20) rgba($black, 0.15)
  ;
  background-color: $white;
  padding: rem(36);
  text-align: center;
  
  @include breakpoint-up("medium") {
    margin-top: 0;
  }
}

.contact__info > *:not(:first-child) {
  margin-top: rem(80);
}

.call__title,
.location__title,
.services__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem(20);
}

.call__list,
.location__description,
.services__list {
  margin-top: rem(16);
}

.call__item:not(:first-child) {
  margin-top: rem(14);
}

.call__link {
  color: $black;
  
  @include focus-visible;
  @include on-event {
    font-weight: 700;
  }
}

.services__item:not(:first-child) {
  margin-top: rem(14);
}

.location__description {
  line-height: 1.6;
}
