@use "../abstracts" as *;

.team {
  padding: rem(67.5) 0;
}

.team__title {
  margin-bottom: rem(20);
  border-left: rem(3) solid $black;
  padding-left: rem(16);
  text-transform: capitalize;
  font-size: rem(30);
}

.team__list {
  $gap: rem(60);
  
  display: grid;
  gap: $gap;
  margin-top: rem(60);
  
  @supports not (gap: $gap) {
    grid-gap: $gap;
  }
  
  @include breakpoint-up("medium") {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team__person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 1em;
  box-shadow: 
   rem(8) rem(8) rem(20) rgba($black, 0.15)
  ;
  background-color: $white;
  padding: rem(36) rem(24);
  max-width: rem(400);
  text-align: center;
  
  @include breakpoint-up("medium") {
    max-width: 100%;
  }
}

.team__photo {
  height: rem(150);
  width: rem(150);
  border-radius: 2em;
}

.team__job {
  font-size: rem(14);
}

.team__name {
  margin: 0;
  text-transform: uppercase;
  font-size: rem(20);
  font-weight: 700;
}

.team__description--small {
  font-size: rem(14);
}

.team__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(18);
}

.team__item:first-child .team__link {
  margin-right: rem(5);
}

.team__link {
  display: inline-block;
  margin-right: rem(14);
  line-height: 0;
  
  @include focus-visible;
}
