@use "../abstracts" as *;

.contact-home {
  padding-top: rem(67.5);
  padding-bottom: rem(90);
}

.contact-home__text {
  max-width: rem(500);
}

.contact-home__title {
  border-left: rem(3) solid black;
  padding-left: rem(16);
  font-size: rem(30);  
}

.contact-home__description {
  margin-top: rem(20);
}

.contact-home__btn {
  display: inline-block;
  margin-top: rem(10);
  border: rem(2) solid $black;
  border-radius: 1em;
  padding: rem(14);
  color: $black;
  
  @include focus-visible;
  @include on-event {
    background-color: $black;
    color: $white;
  }
}