@use "../abstracts" as *;

.footer {
  background-color: rgb(34,34,34);
  padding: rem(67.5) 0;
  color: $white;
}

.footer .container {
  
  @include breakpoint-up("medium") {
    $gap: rem(40);
    
    display: grid;
    align-items: start;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: $gap;
    
    @supports not (gap: $gap) {
      grid-gap: $gap;
    }
  }
}

.footer__home {
  display: flex;
  align-items: center;
  height: auto;
  width: rem(180);
  color: $white;
  font-size: rem(24);
  font-weight: 700;
  
  @include focus-visible;
}

.footer__copyright {
  margin-top: rem(20);
}

.footer__navigation {
  margin: rem(60) 0;
  
  @include breakpoint-up("medium") {
    margin: 0;
  }
}

.footer-nav__link {
  color: $white;
  
  @include focus-visible;
  @include on-event {
    text-decoration: underline;
  }
}

.footer-nav__item:not(:last-child) {
  margin-bottom: rem(25);
}

.footer__attribution {
  text-align: center;
}

.footer__description {
  margin-top: 0;
}

.footer__vanza {
  color: $white;
  font-weight: 700;
  
  @include focus-visible;
  @include on-event {
    text-decoration: underline;
  }
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(20);
}

.footer__item:not(:last-child) {
  margin-right: rem(12);
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: rem(2) dotted transparent;
  padding: rem(4);
  height: rem(50);
  width: rem(50);
  
  @include focus-visible;
  @include on-event {
    border-color: $white;
  }
}
