@use "../abstracts" as *;

.footer {
  background-color: rgb(34,34,34);
  padding: rem(67.5) 0;
  color: rgb(242, 242, 242);
}

.footer__home {
  display: flex;
  align-items: center;
  height: auto;
  width: rem(180);
  color: rgb(242, 242, 242);
  font-size: rem(24);
  font-weight: 700;
  
  &:focus-visible {
    border: rem(2) dashed rgb(242, 242, 242);
  }
}

.footer__copyright {
  margin-top: rem(20);
}

.footer__navigation {
  margin: rem(60) 0;
}

.footer-nav__link {
  color: rgb(242, 242, 242);
  
  &:focus-visible {
    outline: rem(2) dashed rgb(242, 242, 242);
    outline-offset: rem(5);
  }
  
  @include on-event {
    text-decoration: underline;
  }
}

.footer-nav__item:not(:last-child) {
  margin-bottom: rem(25);
}

.footer__attribution {
  text-align: center;
}

.footer__vanza {
  color: rgb(242, 242, 242);
  font-weight: 700;
  
  &:focus-visible {
    border: rem(2) dashed rgb(242, 242, 242);
  }
  
  @include on-event {
    text-decoration: underline;
  }
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(20);
}

.footer__item:not(:last-child) {
  margin-right: rem(12);
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: rem(2) dotted transparent;
  padding: rem(4);
  height: rem(50);
  width: rem(50);
  
  &:focus-visible {
    border-color: rgb(242, 242, 242);
  }
  
  @include on-event {
    border-color: rgb(242, 242, 242);
  }
}
