@use "../abstracts" as *;

.header {
  position: relative;
  z-index: 2;
  box-shadow: 
    0 rem(10) rem(20) rgba($black, 0.4)
  ;
  background-color: rgb(242,242,242);
  padding: rem(20) 0;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__home {
  display: flex;
  align-items: center;
  color: $black;
  font-size: rem(18);
  font-weight: 700;
  
  @include focus-visible;
  
  @include breakpoint-up("tiny") {
    font-size: rem(24);
  }
}

.header__logo {
  height: rem(30);
  width: rem(30);
  
  @include breakpoint-up("tiny") {
    height: rem(40);
    width: rem(40);
  }
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: rem(18);
  
  @include breakpoint-up("tiny") {
    margin-right: rem(30);
  }
}

.header__link {
  color: $black;
  font-size: rem(14);
  
  @include focus-visible;
  @include on-event {
    font-weight: 700;
  }
  
  @include breakpoint-up("tiny") {
    font-size: rem(16);
  }
}

.header__link--current {
  font-weight: 700;
}
