@use "../abstracts" as *;

.hero {
  background: url("../images/hero-bg-mobile.jpg") no-repeat center center/cover;
  background-color: rgb(51, 51, 51);
  background-blend-mode: overlay;
  padding: rem(120) rem(0);
  color: $white;
  
  @include breakpoint-up("medium") {
    background-image: url("../images/hero-bg.jpg");
  }
}

.hero__text {
  max-width: rem(500);
}

.hero__title {
  font-size: rem(36);
  
  @include breakpoint-up("tiny") {
    font-size: rem(50);
  }
}

.hero__btn {
  display: inline-block;
  margin-top: rem(10);
  border: rem(2) solid $white;
  border-radius: 1em;
  padding: rem(14);
  color: $white;
  
  @include focus-visible;
  @include on-event {
    background-color: $white;
    color: $black;
  }
}