@use "../abstracts" as *;

.sub-section--team {
  padding: rem(67.5) 0;
  
  @include breakpoint-up("medium") {
    padding: rem(87.5) 0;
  }
}

.sub-section--contact {
  padding-top: rem(67.5);
  padding-bottom: rem(135);
  
  @include breakpoint-up("medium") {
    padding-top: rem(87.5);
  }
}

.sub-section .container {
  
  @include breakpoint-up("small") {
    $gap: rem(40);
    
    display: grid;
    grid-template-columns: repeat(2, 1fr
    );
    align-items: center;
    gap: $gap;
    
    @supports not (gap: $gap) {
      grid-gap: $gap;
    }
  }
}

.sub-section__text {
  max-width: rem(500);
  
  @include breakpoint-up("small") {
    max-width: 100%;
  }
}

.sub-section__title {
  border-left: rem(3) solid $black;
  padding-left: rem(16);
  font-size: rem(30);  
}

.sub-section__description {
  margin-top: rem(20);
}
