// Default style that I currently use on this project
$default-html-font-size: 100% !default;
$black: rgb(17, 17, 17) !default;
$white: rgb(242, 242, 242) !default;
$focus-visible-color: rgb(0, 190, 251) !default;
$overlay-color: rgb(51, 51, 51);


// Breakpoints
// Note: If you user font-size setting is 16px, then this 'em' is equal to this in 'px'
$breakpoints-up: (
  "tiny": 31.25em, // => 500px
  "very-small": 40em, // => 640px
  "small": 59em, // => 944px
  "medium": 73.624em // 1178px
);

$breakpoints-down: (
  "tiny": 31.1875em, // => 499px
  "very-small": 39.9375em, // => 639px
  "small": 58.9375em, // 943px
  "medium": 73.5625em // 1177px
);