// Default style that I currently use on this project
$default-html-font-size: 100% !default;
$black: rgb(17, 17, 17) !default;
$white: rgb(242, 242, 242) !default;
$focus-visible-color: $black !default;

// Colors


// Roles => primary-color, etc.


// Use Cases => hero-bg, etc


// Breakpoints
// Note: If you user font-size setting is 16px, then this 'em' is equal to this in 'px'
$breakpoints-up: (
  "tiny": 31.25em, // => 500px
  "very-small": 40em // => 640px
);

$breakpoints-down: (
  "tiny": 31.1875em, // => 499px
  "very-small": 39.9375em // => 639px
);